.hero{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.hero img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.btn{
    background-color: #3e3f4a;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.btn:hover{
    background-color: #4c5679;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 900px){
    .skills-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .skills-container{
        grid-template-columns: 1fr;
    }
}

.skill-card{
    background-color: #d3d5e1;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.skill-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.skill-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.skill-name{
    font-weight: 600;
    font-size: 1rem;
    color: #222;
}

.skill-percent{
    font-size: 0.85rem;
    opacity: 0.6;
    color: #222;
}

/* barra de progreso */
.bar{
    width: 100%;
    height: 10px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
}

/* progreso base */
.progress {
    width: 0%;
    height: 10px;
    background-color: #8f9c9e;
    transition: width 1.5s ease-in-out;
}

/* animaciones */
.html {
    animation: load80 1.5s ease-in-out forwards;
}

.css {
    animation: load60 1.5s ease-in-out forwards;
}

.js {
    animation: load40 1.5s ease-in-out forwards;
}

.python {
    animation: load60 1.5s ease-in-out forwards;
}

.java {
    animation: load90 1.5s ease-in-out forwards;
}

.git {
    animation: load70 1.5s ease-in-out forwards;
}

@keyframes load70 {
    from { width: 0%; }
    to { width: 70%; }
}

@keyframes load90 {
    from { width: 0%; }
    to { width: 90%; }
}

@keyframes load80 {
    from { width: 0%; }
    to { width: 80%; }
}

@keyframes load60 {
    from { width: 0%; }
    to { width: 60%; }
}

@keyframes load40 {
    from { width: 0%; }
    to { width: 40%; }
}